<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <!-- <test thread-count="5" name="Test">-->
  <!-- </test>--> <!-- Test -->
  
	<test name = "Test Access">
	    <classes>
	      <class name = "com.test.AccessToURL"/>
	    </classes>
  	</test> <!-- Test On Firefox -->
    
   	<test name = "Test PercenCalculator">
        <classes>
          <class name = "com.test.PercentCalculator"/>
        </classes>
    </test> <!-- Test On Chrome --> 
  
  
</suite> <!-- Suite -->
